<!DOCTYPE html>
<html>
<head>
    {% block head %}
        <link rel="stylesheet" href="{{ asset('css/main.css') }}">
        <title>{% block title %}{% endblock %} - FullStack test</title>
    {% endblock %}
</head>
<body>
{% block content %}{% endblock %}
<div id="footer"></div>
{% block scripts %}
    {#<script src="{{ asset('js/index.js') }}"></script>#}
{% endblock %}
</body>
</html>